@import "reset.css";
/* FONT */
@font-face {
  font-family: 'GmarketSansBold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') 
  format('woff');
  font-weight: normal;
  font-style: normal;
}          

@font-face {
  font-family: 'IBMPlexSansKR-Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.IBMPlexSansKR-Light * {
  font-family: "IBMPlexSansKR-Light", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "IBMPlexSansKR-Light", sans-serif;
  background-color: #f1f3f5;
}

/* header */
header {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 10%;
  background-color:#8fa6c6;
  background-image:linear-gradient(to right, #8fa6c6, #cecece);
  color: white;
}

header h1 {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  font-family: 'GmarketSansBold';
}
header a {
  all: unset;
  color: white;
  cursor: pointer;
}

header .dslion {
  margin-left: auto;
  width: 50px;
  margin-right: 1em;
}
/* section*/
section {
  width: 70%;
}

/* footer */

footer {
  background-color: #0125fb;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: auto;
}
footer p {
  font-size: 8pt;
  color: #ebf0f1;
}

/* 공통 요소 */

h3 {
  color: #8fa6c6;
  font-size: 2rem;
  font-family: 'GmarketSansBold';
  align-items: center;
}

.date {
  font-size: 9pt;
  color: gray;
}

/* home.html */
.home {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px dashed #8fa6c6;
  margin: 1em 1em;
}

.home p {
  flex-basis: auto;
  word-break: break-all;
  margin: 1em;
}
.home a {
  all: unset;
  color: #8fa6c6;
  font-size: 2rem;
  cursor: pointer;
}

.preview {
  font-size: 9pt;
  color: gray;
  margin-bottom: 0px;
}

/* create.html */
#id_title,
#id_body {
  background: none;
  appearance: none;
  border: 0;
  color: black;
  border-bottom: 1px solid black;
  margin-top: 1em;
}

#id_title {
  font-size: 20px;
  align-items: center;
  font-family: 'GmarketSansBold', sans-serif;
}

#id_body {
  font-size: 15px;
  align-items: center;
  font-family: "IBMPlexSansKR-Light", sans-serif;
  background-color: #8fa6c6;
  color: white;
}

/* detail.html */

.detail {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.btn {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #8fa6c6;
  color:white;
  font-size: 15px;
  margin: 12px;
  cursor: pointer;
  border-radius:8px;
}
.btn a {
  all: unset;
  color: white;
  margin: 1rem;
  cursor: pointer;
  font-weight: bolder;
}
.btn a:hover {
  color: #8fa6c6;
}

.detail p {
  margin: 1em;
  word-break: break-all;
}

.textmargin {
    margin-top: 30px;
}

/* create.html update.html */
form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

input {
  background-color: white;
  color: #8fa6c6;
  border: 1px solid #8fa6c6;
  border-radius: 5px;
  font-size: 12pt;
}

input:hover {
  background-color: #8fa6c6;
  color: white;
  border: 1px solid #8fa6c6;
}
